Source: spl
Section: debian-installer
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/spl-modules-3.3.6-1-amd64-di.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/spl-modules-3.3.6-1-amd64-di.git;a=summary

Package: spl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: spl-modules
Description: Solaris Portability Layer
 Solaris Portability Layer

Package: spl-udeb
XC-Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: spl-modules
Description: SPL modules for d-i
 Solaris Portability Layer modules for the installer.
