images
kvmdisk.img
packages.tgz
profiles/SprezzOS.conf
profiles/SprezzOS.packages
SprezzOS.iso
tmp
UDK2010.SR1.Complete.MyWorkSpace.zip
unstable
*.deb
udebs/partman-zfs_*
udebs/partman-zfs/debian/files
udebs/partman-zfs/debian/partman-zfs.debhelper.log
udebs/partman-zfs/debian/partman-zfs.postrm.debhelper
udebs/partman-zfs/debian/partman-zfs.substvars
udebs/partman-zfs/debian/partman-zfs/
