Source: spl
Section: unknown
Priority: extra
Maintainer: nick black <dank@skynet.qemfd.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/spl.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/spl.git;a=summary

Package: spl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: spl-doc
Architecture: all
Description: documentation for spl
 <insert long description, indented with spaces>
