Source: spl
Section: unknown
Priority: important
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/spl.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/spl.git;a=summary

Package: spl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SPL for ZFS
 SPL for ZFS.

Package: spl-doc
Architecture: all
Description: documentation for spl
 <insert long description, indented with spaces>
