#! /usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

override_dh_auto_configure:
	./configure --enable-static=yes --with-linux=/linux-2.6-3.2.14 --build=x86_64-linux-gnu --prefix=/ --includedir=/usr\${prefix}/include --mandir=/usr\${prefix}/share/man --infodir=/usr\${prefix}/share/info --sysconfdir=/etc --localstatedir=/var --libexecdir=/usr\${prefix}/lib/zfs --disable-maintainer-mode --disable-dependency-tracking

override_dh_auto_test:

%:
	dh $@ --with d-i
