Package: spl-modules-3.3.3-1-amd64-di
Version: 0.6.0-rc8-1
Architecture: amd64
Maintainer: Nick Black <nick.black@sprezzatech.com>
Installed-Size: 8558
Depends: libc6-udeb (>= 2.13)
Provides: spl-modules
Section: debian-installer
Priority: optional
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
