Package: zfs-modules-3.3.3-1-amd64-di
Version: 0.6.0-rc8-1
Kernel-Version: 3.3.3-1-amd64
Architecture: amd64
Maintainer: Nick Black <nick.black@sprezzatech.com>
Installed-Size: 35835
Depends: kernel-image-3.3.3-1-amd64-di, spl-modules, core-modules-3.3.3-1-amd64-di, libc6-udeb (>= 2.13), libuuid1-udeb (>= 2.16), zlib1g-udeb (>= 1:1.2.3.3.dfsg-1)
Provides: zfs-modules
Section: debian-installer
Priority: optional
Description: ZFS on Linux (ZoL)
 ZFS modules for the Linux kernel.
