Package: partman-zfs
Version: 1-1
Architecture: all
Installer-Menu-Item: 99999
Maintainer: nick black <nick.black@sprezzatech.com>
Installed-Size: 63
Depends: cdebconf-udeb, zfs, partman-basicfilesystems (>= 59), partman-base (>= 140)
Provides: partman-filesystem
Section: debian-installer
Priority: standard
Description: ZFS support for partman
