Source: partman-zfs
Section: unknown
Priority: extra
Maintainer: nick black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: git://github.com/dankamongmen/SprezzOS.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/partman-zfs.git;a=summary

Package: partman-zfs
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
