Source: zfs
Section: debian-installer
Priority: important
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/zfs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/zfs.git;a=summary

Package: zfs
Architecture: any
XC-Package-Type: udeb
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LLNL ZFS
 LLNL ZFS.

Package: zfs-doc
Architecture: all
Description: documentation for zfs
 <insert long description, indented with spaces>
