Package: spl
Version: 0.6.0-rc8-1
Architecture: amd64
Maintainer: nick black <dank@skynet.qemfd.net>
Installed-Size: 7211
Depends: libc6 (>= 2.2.5)
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
