Source: zfs-modules-3.3.3-1-amd64-di
Section: debian-installer
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/zfs-modules-3.3.3-1-amd64-di.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/zfs-modules-3.3.3-1-amd64-di.git;a=summary

Package: zfs-modules-3.3.3-1-amd64-di
Architecture: any
Provides: zfs-modules
Depends: kernel-image-3.3.3-1-amd64-di, spl-modules, core-modules-3.3.3-1-amd64-di, ${shlibs:Depends}, ${misc:Depends}
Description: ZFS on Linux (ZoL)
 ZFS modules for the Linux kernel.
XC-Package-Type: udeb
XB-Kernel-Version: 3.3.3-1-amd64
